%h2 Comments
-@article.comments.each do |comment|
  .comment-box.d-flex
    %strong=comment.commenter+ ": "
    %p.ms-2=comment.body
  -if current_user.present?
    =link_to "Delete", [comment.article, comment], method: "delete", data:{ confirm: "Are you sure?"}
  %hr
